[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/chrilleson/wezterm-config
[submodule "nvim"]
	path = nvim
	url = https://github.com/chrilleson/lazyvim-setup.git
[submodule "dotbot-scoop"]
	path = dotbot-scoop
	url = https://github.com/JamJar00/dotbot-scoop.git
